body{
    background-image: url('./assets/Path\ 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:transparent;
  }
  
  li {
    float:right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: xx-large;
  }
  
  li a:hover {
    background-color: #111;
  }
    
.navbar-brand{
    float:left;    
}
.container{
    max-width:1200px;
}
.paragraph{
    padding-top:20%;
    float:left;
    font-size:large;
    max-width:750px;
}
button{
    object-position:center;
}
