body{
    --primary-color: #8479F7;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    /* horizontally and vertically centers both forms */
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: var(--primary-color);
}

.container{
    width: 400px;
    /* enables container to shrink on a smaller device */
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    border-radius: var(--border-radius);
    background-color: white;
}

.container,
.form-iput,
.form-button,
.form-message{
    font: 400 1rem 'Hind Siliguri', sans-serif;
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-bottom: 0;
}

.form-message{
    text-align: center;
    margin-bottom: 1rem;

}

.form-message-success{
 color:var(--color-success);
}

.form-message-error{
    color:var(--color-error);
}
/* space between input fields */
.form-input-group{
    margin-bottom: 1rem;
}
.form-input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #ffffff;
    transition: background 0.2s, border-color 0.2s;
    text-align: center;
}

.form-input-error{
    color: var(--color-error);
    border-color: var(--color-error);
}

.form-input-error-message{
    margin-top: o.5rem;
    font-size: o.85rem;
    color: var(--color-error);
}

.btn.btn-dark{
    background-color: black;
    text-align: center;
}
